aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==25.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
distlib==0.3.9
distro==1.9.0
dj-database-url==2.3.0
Django==4.2.16
djangorestframework==3.15.2
exceptiongroup==1.2.2
filelock==3.17.0
fonttools==4.60.2
frozenlist==1.5.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_resources==6.5.2
jiter==0.8.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
langchain==0.3.19
langchain-core==0.3.37
langchain-ollama==0.2.3
langchain-text-splitters==0.3.6
langsmith==0.3.10
matplotlib==3.9.4
multidict==6.1.0
numpy==1.26.4
ollama==0.4.7
openai==1.60.1
orjson==3.10.15
packaging==24.2
pillow==11.0.0
pipenv==2024.4.1
platformdirs==4.3.6
propcache==0.3.0
psycopg2-binary==2.9.11
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.38
sqlparse==0.5.1
tenacity==9.0.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.29.1
whitenoise==6.8.2
yarl==1.18.3
zipp==3.23.0
zstandard==0.23.0
